<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}BTCTrader{% endblock %}</title>

    {{ bscss }}
    {{ uicss }}
    {{ css }}

    {{ jquery }}
    {{ jqueryui }}
    {{ bootstrap }}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
{% block header %}



{% endblock %}{{ content | raw }}{% block footer %}



{% endblock %}
</body>
</html>







